In [33]:
import numpy as np
import pandas as pd
NetIncome = 50
Debt = 100
Equity = 100
Capital = Debt + Equity
ROIC = NetIncome/Capital
print(ROIC)

0.25

In [35]:
import sys
sys.path.insert(0,"/home/danomois/snap/jupyter/common/lib/python3.7/site-packages/PyMySQL-master")
import pymysql

conn = pymysql.connect(host='localhost',
                             user='root',
                             password='colgate13',
                             db='player')

df = pd.read_sql_query("SELECT * FROM employees",conn)
print(df)
# with connection.cursor() as cursor:
#         # Create a new record
#         sql = "select * from BLS"
#         cursor.execute(sql)
#         sqlsample.append(cursor.fetchall())
#         print(sqlsample)

    idemployees first_name last_name
0             5          2         3
1            12         11         6
2            18         14        11
3            23         20        22
4            34         27        20
5            37         17        32
6            41         26        27
7            53         49        46
8           112         86        99
9           127         98       119
10          328        245       290
11          330        310       402
12          352        209       239
13          386        285       331
14         2225       1510      1464
15         2303       1546      1518
16         2741       2150      2191
17         2867       2254      2289
18         4425       3814      4215
19         4705       4038      4444
20         5295       3905      3946
21         5555       4085      4138
22       626247       body      suit
23       666565      fatty   mclovin
24       666665       fats  mcshitty
25       666666        fat       eva